<!-- 
  But :    HTML home loading page
  Auteur : Jeremy Monney
  Date :   12.06.2023
  Version: 1.0
   -->
<!DOCTYPE html>
<div class="home_container">
  <h3>ASI (American Stock Informations) Project</h3>
  <div class="home_p">
    <p>
      In this website you can find information about American stock companies
      like Apple, Tesla etc. This is a project for module 307, where we make a
      website with the help of APIs. This website uses the API of Finnhub.io to
      use the data of the stocks and Highcharts libery to show the data in a
      chart. You can also find the latest news about American companies.
    </p>
  </div>
  <button class="home_btn" id="id_chart" onclick="indexCtrl.loadChart()">
    Chart
  </button>
</div>
